**/.DS_Store
**/keystore
mev-sp-oracle
**/jwtsecret
deployments/goerli/geth
deployments/goerli/teku
deployments/goerli/postgres-data
deployments/goerli/metabase-data
deployments/geth
deployments/teku
deployments/postgres-data
deployments/metabase-data
deployments/.env
state.gob